.wrap {
    display: flex;
    align-items: center;
    gap: 0.4375em;
}

.price {
    composes: text from '../../index.css';
    color: var( --dark );
}

.oldPrice {
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: line-through;
}

.discountPrice {
    color: var( --danger );
}