.wrap {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    color: var(--c-warning);
}

.price {
    font-size: 0.9em;
    font-weight: 500;
}

.old {
    font-size: 0.7em;
    text-decoration: line-through;
}