.total {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.price, 
.discount, 
.discountedPrice {
    composes: title from global;
}

.totalInner {
    font-size: 0.9em;
    font-weight: 400;
}