.detailed-card {
    position: relative;
}

.detailed-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed-card__like-btn > svg {
    width: 24px;
}

.detailed-card__img {
    height: 250px;
    object-fit: cover;
}