.like {
    border: none;
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: background-color 150ms ease;
}

.like:hover {
    background-color: var(--c-success);
}

.icon {
    width: 19px;
    transition: color 150ms ease-in-out;
    color: #8E9293;
}

.liked {
    color: red;
}