.wrapper {
    background-image: url('../../img/product.jpg');
}

.layout {
    display: grid;
    gap: 1em;
}

.top, 
.body, 
.btnWrap, 
.showCommentsBtn, 
.commentsWrap {
    composes: box from global;
}

.top {
    display: flex;
    align-items: center;
}

.card {
    flex-direction: column;
    gap: 0;
}

.btnWrap {
    display: flex;
}

.btnWrap > * {
    flex: 1;
}

.rating {
    margin-right: 1em;
    margin-left: auto;
}

.badgeWrap {
    position: absolute;
    top: 12px;
    left: 12px;
}

.priceWrap {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.price {
    align-self: start;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    background: var(--c-success);
}

.weight {
    margin-bottom: 0;
}

.description {
    margin-bottom: 0;
}

.commentsWrap {
    display: grid;
}

.showCommentsBtn {
    flex: 1;
}

@media screen and (min-width: 768px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .top {
        gap: 0.5em;
    }

    .rating {
        margin-right: 0.5em;
        font-size: 1.5em;
    }

    .like > svg, 
    .favorites > svg {
        width: 29px;
    }
}