.button {
    border: 2px solid #333;
    border-radius: 0.5em;
    padding: 0.7em;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    background: var(--c-main);
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    background-color: var(--c-main-alter);
}

.button:hover {
    background-color: var(--c-main-alter);
}

.outline {
    color: #000;
    background: none;
}

.outline:focus-visible {
    color: #fff;
}

.outline:hover {
    color: #fff;
}

.link {
    border: none;
    border-radius: 0;
    padding: 0;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: inherit;
    text-align: left;
    text-decoration: underline;
    background: none;
}

.link:focus-visible {
    outline: 2px solid #000;
    background: none;
}

.link:hover {
    color: var(--c-main-alter);
    background: none;
}

.danger {
    border-color: var(--c-danger);
    background-color: var(--c-danger);
}

.danger:focus-visible {
    border-color: var(--c-danger-alter);
    background-color: var(--c-danger-alter);
}

.danger:hover {
    border-color: var(--c-danger-alter);
    background-color: var(--c-danger-alter);
}