.list {
    composes: list from '../SortMenu/SortMenu.module.css';
}

.label {
    composes: label from '../SortMenu/SortMenu.module.css';
}

.title {
    composes: title from '../SortMenu/SortMenu.module.css';
}