.counter {
    display: flex;
    align-items: center;
    color: var( --dark );
    font-size: 0.8em;
    font-weight: 500;
}

.button:disabled {
    opacity: 0.2;
}

.button:disabled:hover {
    cursor: not-allowed;
}

.text {
    min-width: 1.5em;
    text-align: center;
}

/* icons */

.plus, 
.minus {
    width: 1.5em;
}