/* layout */

.wrapper {
    background-image: url('../../img/cart.jpg');
}

.layout {
    display: grid;
    gap: 1em;
}

.placeholderWrap {
    grid-column: 1 / -1;
}

.totalWrap {
    display: grid;
}

@media screen and (min-width: 768px) {
    .check, 
    .placeholderWrap {
        grid-column: 1 / -1;
    }

    .placeholderWrap {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        align-items: start;    
    }

    .emptyCart {
        grid-column: 1 / 3;
    }
}