.list {
    /* composes: box from global; */
    display: grid;
    gap: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header {
    display: flex;
    gap: 1em;
    margin-bottom: 0.7em;
}

.body {
    grid-template-areas: 'avatar name rating'
        'text text text'
        'footer footer footer';
    grid-template-columns: min-content auto min-content;
    align-items: center;
    gap: 1em;
    border-radius: 0.75em;
    padding: 0.75em;
    background: rgba(0 0 0 /0.1);
    overflow: hidden;
    display: grid;
}

.footer {
    grid-area: footer;
    grid-area: footer;
    display: flex;
    align-items: center;
}

.delete {
    composes: link from global;
    margin-left: auto;
    font-size: 0.9em;
    text-decoration: none;
}

.avatar {
    flex: 0 0 50px;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
}

.name {
    font-weight: 600;
}

.data {
    font-size: 0.7em;
    color: rgba(0 0 0 /0.5);
    font-weight: 500;
}

.text {
    composes: text from global;
    grid-area: text;
    font-size: 0.9em;
}

.ratingWrap > * {
    flex: 0 !important;
}

.ratingWrap {
    flex-direction: row !important;
    align-items: center;
    gap: 0.5em;
}

.ratingText {
    font-weight: 500;
}

.submit {
    margin-left: auto;
}

/* error messages */

.error {
    composes: error from '../Form/form.module.css';
}

@media screen and (min-width: 992px) {

}
