.wrapper {
    background: left top / 100% url('../../img/home.jpg');
    background-attachment: fixed;
}

.list {
    display: grid;
    gap: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.search {
    width: 230px;
}

.categoriesWrap {
    composes: box from global;
}

@media  screen and (min-width: 768px) {
    .placeholderWrap {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media  screen and (min-width: 992px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}