.card {
    display: flex;
}

.img {
    position: relative;
    flex: 0 0 130px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: hidden;
}

.img > img {
    width: 100%;
    max-width: 100%;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bodyFooter {
    margin-top: auto;
}

.title {
    composes: title from global;
    max-height: 2.5em;
    margin-bottom: 0.75em;
    font-size: 1.2em;
    overflow: hidden;
}

.text {
    composes: text from global;
    margin-bottom: 1em;
}

@media screen and (min-width: 576px) {
    .img {
        flex: 0 0 210px;
    }    
}