.profile {
    border-radius: 8px;
    display: grid;
    gap: 2em;
    padding: 0.75em;
    background: #fff;
    overflow: hidden;
}

.box {
    composes: box from '../HomePage/HomePage.module.css';
}

.top {
    display: flex;
    align-items: center;
    gap: 1em;
}

.avatar {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
}

.name {
    margin-bottom: 0.3em;
    font-weight: 600;
}

.email {
    margin-bottom: 1em;
    color: var(--c-grey-6);
    font-size: 0.8em;
    word-break: break-word;
}

.edit {
    composes: link from global;
}

.info {
    flex: 1;
    display: grid;
    justify-content: start;
}

.list {
    composes: list from global;
}

.item {}

.br {
    border-bottom: 2px solid var(--c-grey-2);
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
}

.link {
    composes: link from global;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.8em 0;
    color: var(--c-grey-6);
    text-decoration: none;
}

.icon {
    width: 1em;
}

.chevron {
    margin-left: auto;
}

.logout {
    color: var(--c-danger);
}

@media screen and (min-width: 768px) {
    .profile {
        padding: 1em;
    }
}

@media screen and (min-width: 992px) {
    .profile {
        grid-template-columns: 1fr 1fr;
        padding: 2em;
    }

    .top {
        flex-direction: column;
        gap: 2em;
    }

    .avatar {
        flex: 0 0 350px;
        width: 350px;
        height: 350px;
    }

    .name, 
    .email, 
    .edit {
        text-align: center;
    }

    .name {
        margin-bottom: 0.5em;
    }
    
    .email {
        margin-bottom: 1.5em;
    }

    .logo {
        composes: logo from '../HomePage/HomePage.module.css';
    }
}