/* section */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0.75em;
    background: no-repeat center / cover url('../../img/wolf-1.webp');
}

/* form */

.submit {
    margin-bottom: 0.5em;
}

.error {
    composes: error from '../../components/Form/form.module.css';
}

/* links */

.resetPass, 
.signup {
    composes: link from global;
}

.resetPass {
    align-self: flex-end;
    margin-bottom: 2em;
}

.noPass {
    composes: text from global;
    text-align: center;
}

/* titles */

.title, 
.subtitle {
    composes: title from global;
}

.title {
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.subtitle {
    margin-bottom: 0.5em;
}

/* text */

.text {
    composes: text from global;
    margin-bottom: 1em;
}