/* section */

.section {
    height: 100vh;
    background: no-repeat center / cover url('../../img/wolf-1.webp');
}

/* container */

.container {
    composes: container from global;
    max-width: 576px;
    height: 100vh;
    padding-top: 2em;
    background: rgba(255 255 255 / 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

@media screen and (min-width: 576px) {
    .section {
        display: flex;
    }

    .container {
        border-radius: 1em;
        padding: 2em;
        height: unset;
    }
}

/* form */

.submit {
    margin-bottom: 0.5em;
}

.error {
    composes: error from '../../components/Form/form.module.css';
}

/* links */

.resetPass, 
.signup {
    composes: link from global;
}

.resetPass {
    align-self: flex-end;
    margin-bottom: 2em;
}

.noPass {
    composes: text from global;
    text-align: center;
}

/* titles */

.title, 
.subtitle {
    composes: title from global;
}

.title {
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.subtitle {
    margin-bottom: 0.5em;
}

/* text */

.text {
    composes: text from global;
    margin-bottom: 1em;
}