.badgeWrap {
    position: absolute;
    top: 0.75rem;
    z-index: 1000;
    left: 0;
    display: grid;
    gap: 0.5rem;
}

.card {
    position: relative;
    display: grid;
    grid-template-areas: 
        'img body'
        'img footer';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr min-content;
    border-radius: 8px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 7px -3px rgba(0 0 0 / 0.2);
    overflow: hidden;
}

.body {
    position: relative;
    grid-area: body;
    display: grid;
    grid-template-areas:
        'name kebab'
        'desc desc';
    grid-template-columns: 1fr min-content;
    grid-auto-rows: min-content;
    gap: 1rem;
    padding: 0.75rem;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.75rem;
}

.img {
    position: relative;
    grid-area: img;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: #fff;
    overflow: hidden;
}

.img > img {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.linkWrap {
    composes: link from global;
    grid-area: name;
    text-decoration: none;
}

.kebab {
    grid-area: kebab;
}

.name, 
.description {
    composes: text from global;
}

.name {
    composes: ellipsis from global;
    -webkit-line-clamp: 2;
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    composes: ellipsis from global;
    grid-area: desc;
    color: rgba(0 0 0 / 0.7);
    font-size: 0.9em;
}

.price {
    margin-right: auto;
}

.modal {
    flex: 1;
    max-width: 700px;
}

@media screen and (min-width: 768px) {
    .body {
        padding: 1em;
    }

    .footer {
        padding: 0 0.5em 0.5em 1em;
    }
}

@media screen and (min-width: 992px) {
    .card {
        grid-template-areas: 
            'img img'
            'body body'
            'footer footer';
        grid-template-rows: min-content 1fr min-content;
    }

    .img > img {
        width: unset;
        height: 100%;
    }
}