.wrap {
    position: relative;
}

.img {
    height: 210px;
}

.body {
    composes: box from global;
}

.like {
    position: absolute;
    top: 4px;
    left: 4px;
}

.like > svg {
    width: 25px;
}

.title {
    margin-bottom: 0.2em;
}

.rating {
    margin-bottom: 1em;
}

.priceWrap {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.price {
    align-self: start;
}

.stock {
    display: none;
}

.moreInfo {
    composes: link from global;
    text-align: right;
}

.badgeWrap {
    position: absolute;
    left: 4px;
    bottom: 4px;
    display: flex;
    gap: 0.3em;
}

.linkWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.cartButton {
    padding: 0.5em 0.7em;
    font-size: 0.875em;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .stock {
        display: unset;
    }
    .badgeWrap {
        bottom: 1em;
        left: 1em;
        gap: 0.5em;
    }
}