.title {
    font-size: 1em;
    font-weight: 500;
}

.placeholderWrap {
    grid-column: 1 / -1;
}

.totalWrap {
    display: grid;
    gap: 1em;
}

@media screen and (min-width: 768px) {
    .check, 
    .placeholderWrap {
        grid-column: 1 / -1;
    }

    .placeholderWrap {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .totalWrap {
        display: grid;
        grid-template-areas: 'total order';
        align-items: end;
    }

    .total {
        grid-area: total;
    }

    .order {
        grid-area: order;
    }
}

@media screen and (min-width: 992px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        align-items: start;    
    }

    .emptyCart {
        grid-column: 1 / 3;
    }
}