.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background: #fff;
}

@media screen and ( min-width: 992px ) {
    .header {
        min-height: 100px;
    }
}