/* link icon */

.linkIcon {
    width: 1em;
}

/* user section */

.user {
    display: block;
    margin-bottom: 2em;
    text-decoration: none;
}

.avatar{ 
    --size: 60px;
    width: var( --size );
    height: var( --size );
    margin-bottom: 0.7em;
    overflow: hidden;
}

.name {
    composes: text from '../../index.css';
    color: var( --dark );
    margin-bottom: 0;
}

/* navbar */

.nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.nav * {
    box-sizing: inherit;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: calc( 100% );
    padding: 80px 2em 2em;
    background: #f8f9fa;
    box-shadow: -20px 0 30px 0px #333;
    transform: translateX( -100% );
    transition: transform 150ms ease-in-out, visibility 0s 150ms;
    visibility: hidden;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.item:last-child {
    margin-top: auto;
}

.item {
    position: relative;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--dark);
    font-size: 1em;
    text-decoration: none;
}

.logout {
    composes: btnReset from '../../index.css';
    color: var( --danger );
    font-size: 1em;
}

.open {
    transform: translateY( 0 );
    transition: transform 150ms ease-in-out, visibility 0s 0s;
    visibility: visible;
}

.burger {
    z-index: 9010;
    border: none;
    border-radius: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: auto;
    background: none;
}

.line {
    position: relative;
    width: 26px;
    height: 3px;
}

.line, 
.line::after, 
.line::before {
    border-radius: 3px;
    background: #333;
    transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
}

.line::after, 
.line::before {
    content: '';
    position: absolute;
    left: 0;
    width: 26px;
    height: 100%;
}

.line::after {
    transform: translateY( 10px );
}

.line::before {
    transform: translateY( -10px );
}

.burger[ aria-expanded='true' ] > .line {
    background: #fff;
}

.burger[ aria-expanded='true' ] > .line::after, 
.burger[ aria-expanded='true' ] > .line::before {
    transform: translateY( 0 );
}

.burger[ aria-expanded='true' ] > .line::after {
    transform: translateY( 0 ) rotate( -45deg );
}

.burger[ aria-expanded='true' ] > .line::before {
    transform: translateY( 0 ) rotate( 45deg );
}

.cartBadge {
    position: absolute;
    top: -25%;
    right: -15%;
    border-radius: 2em;
    min-width: 1.5em;
    padding: 0.4em;
    background: red;
    color: #fff;
    font-size: 0.7em;
    line-height: 0.75;
    text-align: center;
}

@media screen and ( min-width: 992px ) {
    /* avatar */

    .avatar {
        --size: 40px;

        order: 2;
        margin-right: 0.7em;
        margin-bottom: 0;
    }

    /* user */

    .user {
        display: none;
    }

    /* nav bar */
    .nav {
        font-size: 1em;
    }

    .burger {
        display: none;
    }

    .wrapper {
        position: static;
        flex-direction: row;
        align-items: center;
        min-width: unset;
        height: unset;
        padding: 0;
        background: none;
        box-shadow: none;
        transform: none;
        visibility: visible;
    }

    .list {
        flex-direction: row;
        gap: 2em;
        margin-right: 1em;
        padding: 0;
    }

    .item {
        padding: 0;
    }

    .item:last-child {
        margin: 0;
    }
    
    .item:not( :last-child ) {
        border: none;
    }

    .link {
        font-size: 1em;
        font-weight: 500;
    }

    .logout {
        font-size: 1em;
        font-weight: 500;
    }
}