.chooseProduct {
    position: relative;
    z-index: 8000;
    appearance: none;
    border: 1px solid transparent;
    border-radius: 3.125em;
    margin: 0 auto 0 0;
    width: 3.125em;
    height: 1.875em;
    font-size: 0.7em;
    background: var(--c-grey-5);
    cursor: pointer;
    transition: background-color 150ms ease;
}

.chooseProduct::after {
    content: '';
    position: absolute;
    top: 0.0625em;
    left: 0.0625em;
    border-radius: 50%;
    width: 1.625em;
    height: 1.625em;
    margin: 0;
    background-color: #fff;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    transition: left 150ms ease, 
                background-color 150ms ease;
}

.chooseProduct:checked {
    background-color: #34c759;
}

.chooseProduct:checked::after {
    left: 1.25em;
}

.chooseProduct:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.chooseProduct:disabled::after {
    background-color: var(--grey-4);
}

.card {
    position: relative;
    display: grid;
    grid-template-areas: 
        'img body' 
        'footer footer';
    grid-template-columns: 100px 1fr;
    gap: 0.75em;
}

.badgeWrap {
    composes: badgeWrap from '../ProductPreview/ProductPreview.module.css';
}

.img {
    position: relative;
    grid-area: img;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    overflow: hidden;
}

.img > img {
    width: 100%;
    max-width: 100%;
}

.soldOut > span {
    font-size: 1.1em;
}

.body {
    grid-area: body;
    display: grid;
    grid-template-areas: 'name remove';
    grid-template-columns: 1fr min-content;
    gap: 1em;
    align-items: center;
    padding: 0.75em;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.75em 0.75em;
}

.name {
    composes: title from global;
    grid-area: name;
    font-size: 1em;
    font-weight: 500;
}

.description {
    composes: text from global;
    grid-area: desc;
    display: none;
    max-width: 850px;
}

.price {
    justify-content: flex-end;
    min-width: 4.3em;
    color: var(--c-main);
}

.remove {
    grid-area: remove;
    align-self: flex-start;
    margin-left: auto;
    color: var(--c-danger);
}

@media screen and (min-width: 768px) {
    .body {
        grid-template-areas: 
            'name remove'
            'desc desc';
        grid-auto-rows: min-content;
        padding: 1em;
    }

    .footer {
        padding: 0 1em 1em;
    }

    .description {
        display: unset;
    }
}

@media screen and (min-width: 992px) {
    .name {
        font-size: 1.3em;
    }
    .remove:hover {
        color: var(--c-danger-alter);
    }
}