.confirm {
    display: grid;
    grid-template-areas: 
        'text text'
        'cancel confirm';
    justify-content: center;
    gap: 0.75em;
}

.text {
    composes: text from global;
    grid-area: text;
    margin-bottom: 1em;
    font-size: 0.9em;
    text-align: center;
}

.cancelButton {
    composes: clear from '../../Styles/Button.module.css';
}

.confirmButton {
    composes: primary from '../../Styles/Button.module.css';
}

@media screen and (min-width: 992px) {
    .text {
        font-size: 1em;
    }

    .button {
        max-width: 150px;
    }

    .cancelButton {
        justify-self: end;
    }

    .confirmButton {
        justify-self: start;
    }
}