.confirm {
    display: grid;
    grid-template-areas: 
        'text text'
        'cancel confirm';
    justify-content: center;
    gap: 0.75em;
}

.text {
    composes: text from global;
    grid-area: text;
    margin-bottom: 1em;
    font-size: 0.9em;
    text-align: center;
}

.button {
    grid-template-columns: min-content min-content;
    gap: 1em;
    border: 1px solid;
    padding: 0 1em;
}

.cancelButton {
    grid-area: cancel;
    border-color: var(--c-danger);
}

.confirmButton {
    grid-area: confirm;
    border-color: var(--c-success-alter);
}

.cancelIcon {
    color: var(--c-danger);
}

.confirmIcon {
    color: var(--c-success-alter);
}

@media screen and (min-width: 992px) {
    .text {
        font-size: 1em;
    }

    .button {
        max-width: 150px;
    }

    .cancelButton {
        justify-self: end;
    }

    .confirmButton {
        justify-self: start;
    }
}