.search {
    width: 94% !important;
    max-width: 500px !important;
    margin: auto;
    padding: 0.5em 0.7em 0.5em 2.4em !important;
}

.wrapper {
    position: absolute;
    z-index: 9000;
    top: 71px;
    left: 50%;
    border-radius: 8px;
    display: grid;
    gap: 1em;
    width: calc(100% - 1.5em);
    max-height: calc(100vh - 150px);
    padding: 1em 0;
    background: #fff;
    box-shadow: 0 10px 15px 5px rgba(0 0 0 / 0.2);
    transform: translateX(-50%);
    overflow: auto;
}

.list {
    composes: list from global;
}

.item:not(:last-child) {
    border-bottom: 1px solid rgba(0 0 0 / 0.2);
}

.link {
    composes: link from global;
    display: block;
    padding: 1em 0.75em;
    text-decoration: none;
    transition: background-color 150ms ease;
}

.link:hover {
    background-color: rgba(165 255 214 / 0.2);
}

.buttonSearch {
    margin-left: auto;
    overflow: visible;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.buttonSearch[aria-expanded="true"] {
    position: relative;
    background-color: #fff;
}

.buttonSearch[aria-expanded="true"]::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 576px) {
    .search {
        flex: 1;
        width: unset;
        max-width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: calc(100% - 2em);
    }

    .link {
        padding: 1em 1.5em;

    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        top: 86px;
        width: calc(100% - 4em);
    }

    .list {
        top: 85px;
    }
    
    .search {
        max-width: 250px;
    }

    .buttonSearch:hover, 
    .buttonSearch:hover::after {
        background-color: var(--c-grey-5);
    }
    
    .buttonSearch:hover > svg {
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .link {
        padding: 1em 2em;

    }
}