.signup__wrapper {
    padding-top: 324px;
    background: url('./bg.svg') no-repeat top 0 left 0 / 100%;
}

.signup__heading {
    margin-bottom: 1.75rem;
    text-align: left;
}

.signup__submit {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}