:root {
	--color-main: #FEE54D;
	box-sizing: border-box;
	font-family: sans-serif;
}

*, 
::after, 
::before {
	box-sizing: inherit;
}

.container {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.link {
	color: #000;
}