:root {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}