:root {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

    /* colors */
    --c-link-hover: #0066ff;
    --c-main: #212529;
    --c-main-alter: #343a40;
    --c-danger: #ff686b;
    --c-danger-alter: #ffa69e;
    --c-success: #a5ffd6;
    --c-primary: #70d6ff;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/* link */

.link {
    color: #000;
    transition: color 200ms ease;
}

.link:hover {
    color: var(--c-link-hover);
}

/* text */

.text {
    margin-top: 0;
    margin-bottom: 0;
}

/* heading */

.title {
    margin-top: 0;
    margin-bottom: 0;
}