:root {
	--dark: #333;
    --danger: #ff5e5b;
    --primary: #71a5de;
    --gary-09: #212529;

    --text-01: #A6A7AB;

    --color-main: #FEE54D;
	--soft-gray: #7D8FAB;
	--gray-1: #E8ECF2;
	--orange: #FA662E;
	--white: #fff;

    --blue-5: #269AFF;

    box-sizing: border-box;
}

*, 
::after, 
::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* list */

.list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

/* heading */

.title {
    margin-top: 0;
    margin-bottom: 1em;
    color: var( --dark );
    line-height: 1.5;
}

/* text */

.text {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.text--strong {
    font-weight: 500;
}

.text--lg {
    font-style: 1.125em;
    line-height: 1.65;
}

.text--sm {
    font-size: 0.875em;
    line-height: 1.45;
    letter-spacing: -0.01em;
}

.text--xs {
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.5;
}

/* heading */



/* button */

.btnReset {
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 1em;
    background: none;
}

.btn {
    composes: btnReset;
    border-radius: 0.75em;
    display: inline-block;
    width: 100%;
    max-width: 25em;
    padding: 1.37em;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    background: rgb(255,139,56);
    background: linear-gradient(83deg, rgba(255,139,56,1) 0%, rgba(243,102,75,1) 100%);
    cursor: pointer;
    outline: none;
}

.btn:hover {
    opacity: 0.92;
}

.btn:focus {
    opacity: 0.88;
}

.btn:disabled {
    background: #ccc;
}

.btn--text {
    border: none;
    border-radius: 0;
    display: inline;
    width: unset;
    padding: 0;
    color: var( --orange );
    font-weight: 600;
    line-height: 1.375;
    text-align: left;
    background: none;
}

.btn--text:disabled {
    color: #ccc;
    background: none;
}

/* link */

.link {
	transition: color 150ms ease-in-out;
}

.link:hover {
	color: var( --orange );
}


/* Form */

.form__input {
	border: 2px solid var( --gray-1 );
	border-radius: 0.875em;
	width: 100%;
	padding: 1.2em 1.5em;
	margin-top: 0.5rem;
    margin-bottom: 0.75rem;
	font: 500 1em/1 'Montserrat', sans-serif;
	color: var( --dark );
	background: var( --gray-1 );
}

.form__input:focus {
	outline-color: var( --orange );
}

.form__input--user {
	padding: 1.2em 1.5em 1.2em 3.5em;
	background-image: url( './img/user-icon.svg' );
	background-position: left 12px center;
	background-repeat: no-repeat;
}

.form__input--email {
	padding: 1.2em 1.5em 1.2em 3.5em;
	background-image: url( './img/email.svg' );
	background-position: left 12px center;
	background-repeat: no-repeat;
}

.form__input--lock {
	padding: 1.2em 1.5em 1.2em 3.5em;
	background-image: url( './img/lock.svg' );
	background-position: left 12px center;
	background-repeat: no-repeat;
}

.form__error {
	margin-bottom: 0.5rem;
	color: red;
}